$font: 'aktiv-grotesk', sans-serif;

h1 {
  font: bold 34px/1.1em $font;
  letter-spacing: -0.34px;
}
h2 {
  font: bold 30px/1.15em $font;
  letter-spacing: -0.3px;
}
h3 {
  font: bold 22px/1.2em $font;
  letter-spacing: -0.22px;
}
h4 {
  font: 600 18px/1.2em $font;
  letter-spacing: -0.18px;
}
h5 {
  font: bold 20px/1.3em $font;
  letter-spacing: -0.3px;
}
h6 {
  font: bold 12px/1.2em $font;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  &.small {
    font: bold 12px/1.2em $font;
    letter-spacing: 0.6px;
  }
  &.xs {
    font: bold 10px/1.2em $font;
    letter-spacing: 0.5px;
  }
}

p {
  font: 400 18px/1.2em $font;
  letter-spacing: -0.18px;
  &.small {
    font: 15px/1.15em $font;
    letter-spacing: -0.15px;
  }
}

@media (min-width: 768px) {



}

@media (min-width: 1200px) {

  h1 {
    font: bold 60px/1.2em $font;
    letter-spacing: -0.6px;
  }
  h2 {
    font: bold 48px/1.2em $font;
    letter-spacing: -0.6px;
  }
  h3 {
    font: bold 36px/1.2em $font;
    letter-spacing: -0.54px;
  }
  h4 {
    font: 600 28px/1.25em $font;
    letter-spacing: -0.42px;
  }
  h5 {
    font: bold 20px/1.3em $font;
    letter-spacing: -0.3px;
  }
  h6 {
    font: bold 16px/1.2em $font;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    &.small {
      font: bold 14px/1.2em $font;
      letter-spacing: 0.7px;
    }
    &.xs {
      font: bold 10px/1.2em $font;
      letter-spacing: 0.5px;
    }
  }
  p {
    font: 22px/1.3em $font;
    letter-spacing: -0.33px;
    &.small {
      font: 18px/1.2em $font;
      letter-spacing: -0.27px;
    }
  }
  .metadata {
    font: 15px/1.2em $font;
    letter-spacing: -0.225px;
  }

}
