html {
  font-size: 20px; }

h1 {
  font: bold 34px/1.1em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.34px; }

h2 {
  font: bold 30px/1.15em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.3px; }

h3 {
  font: bold 22px/1.2em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.22px; }

h4 {
  font: 600 18px/1.2em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.18px; }

h5 {
  font: bold 20px/1.3em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.3px; }

h6 {
  font: bold 12px/1.2em "aktiv-grotesk", sans-serif;
  letter-spacing: 0.6px;
  text-transform: uppercase; }
  h6.small {
    font: bold 12px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: 0.6px; }
  h6.xs {
    font: bold 10px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: 0.5px; }

p {
  font: 400 18px/1.2em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.18px; }
  p.small {
    font: 15px/1.15em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.15px; }

@media (min-width: 1200px) {
  h1 {
    font: bold 60px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.6px; }

  h2 {
    font: bold 48px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.6px; }

  h3 {
    font: bold 36px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.54px; }

  h4 {
    font: 600 28px/1.25em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.42px; }

  h5 {
    font: bold 20px/1.3em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.3px; }

  h6 {
    font: bold 16px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase; }
    h6.small {
      font: bold 14px/1.2em "aktiv-grotesk", sans-serif;
      letter-spacing: 0.7px; }
    h6.xs {
      font: bold 10px/1.2em "aktiv-grotesk", sans-serif;
      letter-spacing: 0.5px; }

  p {
    font: 22px/1.3em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.33px; }
    p.small {
      font: 18px/1.2em "aktiv-grotesk", sans-serif;
      letter-spacing: -0.27px; }

  .metadata {
    font: 15px/1.2em "aktiv-grotesk", sans-serif;
    letter-spacing: -0.225px; } }
.accordion-button:focus {
  box-shadow: none; }

#storiesAccordion .accordion-item {
  color: black;
  background-color: white;
  border: none; }
  #storiesAccordion .accordion-item:first-of-type, #storiesAccordion .accordion-item:last-of-type, #storiesAccordion .accordion-item:first-of-type .accordion-button, #storiesAccordion .accordion-item:last-of-type .accordion-button {
    border-radius: 0 !important; }
#storiesAccordion .accordion-button {
  padding: 0 1rem 0 0;
  color: black;
  background: url("/assets/04/States/bg-overlay.jpg") center/cover, #DE9C7F;
  background-blend-mode: color-burn, normal;
  border-bottom: 1px solid #F3E9DD; }
  #storiesAccordion .accordion-button h3 {
    margin-bottom: 0; }
  #storiesAccordion .accordion-button:hover, #storiesAccordion .accordion-button:focus, #storiesAccordion .accordion-button:not(.collapsed) {
    color: #5660FE;
    background: url("/assets/04/States/bg-overlay.jpg") center/cover, #EEEFFF;
    border-color: #EEEFFF; }
#storiesAccordion .headshot-mobile img {
  height: 67px; }
#storiesAccordion .accordion-body {
  padding: 0; }
  #storiesAccordion .accordion-body a {
    color: black; }
    #storiesAccordion .accordion-body a:hover, #storiesAccordion .accordion-body a:focus {
      color: black; }
#storiesAccordion .media-container img {
  width: 100%; }

#forensics .accordion .accordion-item {
  background: #F3E9DD;
  border-radius: 4px;
  border: none; }
#forensics .accordion .accordion-button {
  background-color: #F3E9DD;
  padding: 1rem 2.5rem; }
  #forensics .accordion .accordion-button:not(.collapsed), #forensics .accordion .accordion-button.accordion-button:focus {
    color: black;
    background-color: #F3E9DD;
    box-shadow: none; }
  #forensics .accordion .accordion-button:after {
    background-image: url("/assets/graphics/plus.svg");
    background-position: center;
    width: 32px;
    height: 32px; }
  #forensics .accordion .accordion-button:not(.collapsed)::after {
    background-image: url("/assets/graphics/minus.svg");
    transform: none; }
  #forensics .accordion .accordion-button .icon-container {
    width: 70px;
    height: 80px;
    text-align: center; }
    #forensics .accordion .accordion-button .icon-container img.icon {
      height: 65px;
      width: auto; }
#forensics .accordion .accordion-body {
  padding: 0 2.5rem 1.5rem 2.5rem; }

.color-blue {
  color: #5660FE; }

.bg-blue {
  background-color: #5660FE; }

.bg-accent-blue {
  background-color: #EEEFFF; }

.bg-beige {
  background-color: #F3E9DD; }

.color-grey {
  color: #808080; }

body {
  color: black;
  font-family: "aktiv-grotesk", sans-serif;
  scroll-behavior: smooth;
  font-size: 18px; }

.wrapper {
  max-width: 1800px;
  margin: auto; }

img {
  max-width: 100%; }

.btn {
  font: 14px/1.15em "aktiv-grotesk", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 25px;
  border-width: 2px;
  letter-spacing: 0.14px; }

.btn.btn-sq {
  padding: 10px; }

.btn-sq .arrow {
  width: 15px;
  height: 15px; }

.btn-primary {
  border-color: #5660FE;
  background-color: #5660FE;
  color: white; }

.btn-white {
  border-color: white;
  background-color: white;
  color: #5660FE; }

.btn-ghost {
  border-color: white;
  background-color: transparent;
  color: white; }

.btn-primary:hover, .btn-primary:focus, a:hover .btn-primary, a:focus .btn-primary {
  border-color: black;
  background-color: black;
  color: white; }

.btn-white:hover,
.btn-white:focus,
.btn-ghost:hover,
.btn-ghost:focus {
  border-color: black;
  background-color: black;
  color: #5660FE; }

.navbar-brand {
  font: bold 17px/1.2em "aktiv-grotesk", sans-serif; }

#navbarNav .nav-item + .nav-item {
  border-top: 1px solid black; }
#navbarNav .nav-link {
  color: black;
  font: 600 18px/1.2em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.18px;
  padding: 1rem .75rem; }

.navbar-nav .nav-link:hover, .nav-link:focus {
  color: #5660FE; }

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0; }

  #navbarNav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 152px; }
    #navbarNav .nav-item:first-of-type, #navbarNav .nav-item:last-of-type {
      flex: 0 1 132px; }
    #navbarNav .nav-item + .nav-item {
      border-left: 1px solid #808080;
      border-top: none; }
  #navbarNav .nav-link {
    color: black;
    padding: 0;
    /* padding-left:0!important;
    padding-right:0!important; */
    flex: 0 1 112px;
    text-align: center;
    font: 500 17px/1.2 "aktiv-grotesk", sans-serif;
    letter-spacing: -0.255px; } }
.btn-arrow, .nav-btn {
  color: white;
  border-color: #5660FE;
  border-radius: 4px;
  padding: 12px 25px !important;
  background: #5660FE; }

.nav-btn {
  color: white !important; }

.nav-btn:hover, .nav-btn:focus {
  color: white;
  background-color: black;
  border-color: black; }

.btn-arrow:hover, .btn-arrow:focus {
  border-color: #5660FE;
  background-color: transparent; }

.btn-arrow.btn-white {
  border-color: white;
  background-color: white;
  color: #5660FE; }

.btn-arrow.btn-white:hover, .btn-arrow.btn-white:focus {
  border-color: black;
  background-color: black;
  color: white; }

.card {
  border-radius: 4px;
  border: none; }

.card-body {
  border-radius: 4px;
  border: none;
  padding: 1.5rem; }

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 10px;
  background: white;
  position: absolute;
  bottom: -5px;
  width: 100%; }

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: linear-gradient(270deg, #db9b81, #5660FE, #db9b81);
  width: 0%; }

#hero {
  position: relative; }

.hero-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: white; }

.hero-content h3 {
  font-weight: 500; }

.hero-content h1 {
  font: bold 90px/1em "aktiv-grotesk", sans-serif;
  letter-spacing: -0.9px; }

.hero-carousel {
  width: 100%;
  position: relative; }

.hero-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 27.23%, rgba(0, 0, 0, 0.7) 79.18%) center/cover no-repeat; }

.slick-list {
  min-height: 650px;
  max-height: calc(100vh - 120px); }

.slick-slide img {
  /* height: 100%;
  object-fit: cover; */ }

.intro-block {
  position: relative;
  overflow: hidden;
  background: black;
  color: white; }

.signature-containers {
  flex: 0 0 175px; }

.signature-containers img {
  width: 100%; }

#restoringFreedomIntro {
  position: relative; }

video.video-bg {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover; }

.modal-content {
  background: black;
  color: white;
  border-radius: 4px; }

.modal-header {
  border-color: black;
  padding: 1.5rem 1.5rem .5rem; }

.btn-close {
  color: #5660FE;
  height: auto;
  width: auto; }

.modal-body {
  padding: 1rem 4rem 4rem 4rem; }

.story-card {
  color: black;
  background: url("/assets/04/States/bg-overlay.jpg") center/cover, #DE9C7F;
  background-blend-mode: color-burn, normal;
  border: 1px solid #DE9C7F;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }

.story-card.active, .story-card:hover, .story-card:focus {
  color: #5660FE;
  background: url("/assets/04/States/bg-overlay.jpg") center/cover, #EEEFFF;
  border-color: #EEEFFF; }

.story-name {
  height: 350px;
  width: 101px; }

.story-name h3 {
  rotate: -90deg;
  margin-bottom: 0;
  white-space: nowrap;
  translate: 0 250px; }

.headshot {
  height: 440px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background: url("/assets/03/Stories/Headshots/John_Galvan.png") bottom/cover no-repeat; }

.story-card.galvan .headshot {
  background-image: url("/assets/03/Stories/Headshots/John_Galvan.png"); }

.story-card.henry .headshot {
  background-image: url("/assets/03/Stories/Headshots/Darril_Henry.png"); }

.story-card.williams .headshot {
  background-image: url("/assets/03/Stories/Headshots/Herman_Williams.png"); }

.story-card.schweitzer .headshot {
  background-image: url("/assets/03/Stories/Headshots/Ian_Schweitzer.png"); }

.story-card.peets .headshot {
  background-image: url("/assets/03/Stories/Headshots/Norberto_Peets.png"); }

.story-card.day .headshot {
  background-image: url("/assets/03/Stories/Headshots/Tyrone_Day.png"); }

#storyProfiles {
  position: relative; }

.story-profile {
  display: none;
  opacity: 0;
  transition: opacity 1s; }
  .story-profile.active {
    display: block;
    opacity: 1; }
  .story-profile .content {
    min-height: 465px; }
    .story-profile .content a {
      color: black; }
      .story-profile .content a:hover, .story-profile .content a.focus {
        color: black; }

.embed-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 56.25%; }
  .embed-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

#rememberingCalvinJohnson {
  background: url("/assets/03/background.jpg") center/cover; }

#rememberingCalvinJohnson > .container {
  background: url("/assets/03/CalvinJohnson.png") bottom right/55% no-repeat; }

.sound-bars {
  width: 240px; }

#stateAchievements {
  background: #F3E9DD url("/assets/04/States/bg-overlay.jpg") top/cover no-repeat;
  background: url("/assets/04/States/bg-overlay.jpg") center/cover, #DE9C7F;
  background-blend-mode: color-burn, normal; }

.state-profile {
  min-height: 550px;
  display: none; }
  .state-profile.active {
    display: block; }
  .state-profile h3, .state-profile h5 {
    margin-bottom: 1.5rem; }
  .state-profile .profile-header {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #F3E9DD; }
  .state-profile .state-map {
    height: 51px;
    width: 44px;
    text-align: center; }
    .state-profile .state-map img {
      height: 100%;
      width: auto; }

.article-card {
  background-color: #F3E9DD;
  border-radius: 4px; }

.article-link, .article-link:hover, .article-link:focus {
  color: black;
  text-decoration: none; }

.btn-col {
  flex: 0 0 40px; }

.state-nav {
  list-style: none;
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  padding-left: 0;
  max-width: 100%; }
  .state-nav a.nav-link {
    font: 400 18px/1.2em "aktiv-grotesk", sans-serif;
    position: relative;
    cursor: pointer;
    display: inline-block; }
    .state-nav a.nav-link:hover {
      color: black;
      font-weight: bold; }
    .state-nav a.nav-link:before {
      content: "";
      background: transparent;
      width: 13px;
      height: 13px;
      margin: auto;
      margin-bottom: 10px;
      display: block; }
    .state-nav a.nav-link.active {
      font-weight: bold; }
      .state-nav a.nav-link.active:before {
        background: black; }

#highlights a {
  text-decoration: none; }
  #highlights a:hover .card, #highlights a:focus .card {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15); }

#financials .pie-chart {
  width: 377px; }
#financials table {
  width: 100%; }
  #financials table td {
    padding: 0 0 10px 0; }
    #financials table td.label {
      width: 66%; }
    #financials table td.amount {
      width: calc(33% - 40px); }
    #financials table td.percent {
      width: 40px; }
    #financials table td.td-empty {
      padding-bottom: 1rem; }
  #financials table th {
    padding-top: 1.5rem; }
    #financials table th.total {
      width: 66%; }
    #financials table th.total-amt {
      width: 33%; }
  #financials table tr.th-row {
    border-top: 2px solid #EEEFFF; }

.donor-list-card {
  background-color: white;
  border-radius: 4px;
  overflow-y: auto;
  max-height: 725px;
  padding: 40px; }

.donor-list-card ul {
  margin-bottom: 1.75rem; }

.donor-list-card ul li {
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: -0.27px;
  margin-bottom: .5rem; }

#waysToGive {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(270deg, #000 35.94%, rgba(0, 0, 0, 0) 100%), url("/assets/07/ways_to_give-bg.jpg") left/cover no-repeat; }

.give-button {
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden; }

.give-button .icon-container {
  width: 85px;
  height: 80px;
  text-align: center; }

.give-button .icon {
  width: auto;
  height: 100%; }

.give-button .blue-cap {
  border: 2px solid #5660FE;
  background: #5660FE;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.give-button:hover .blue-cap, .give-button:focus .blue-cap {
  border: 2px solid #5660FE;
  background-color: black; }

.give-button .arrow {
  min-width: 40px; }

@media (min-width: 576px) {
  .state-nav {
    grid-template: auto/repeat(4, 1fr); } }
@media (min-width: 768px) {
  .state-nav {
    grid-template: auto/repeat(5, 1fr); } }
@media (min-width: 992px) {
  .state-nav {
    grid-template: auto/repeat(7, 1fr); } }
@media (min-width: 1200px) {
  .state-nav {
    display: flex; } }

/*# sourceMappingURL=master.css.map */
