<div class="container py-5">
  <div class="row py-5 align-items-center">
    <div class="col-md-5 order-md-2">
      <h6 class="mb-3">Hear from Our Executive Director</h6>
      <p class="mb-3 mb-lg-4">We focused our efforts in courts, statehouses, and Congress to confront the ongoing issues that lead to wrongful conviction. Lorem ipsum lorem ipsum</p>
      <div class="d-flex align-items-center flex-wrap mb-4 mb-lg-0">
        <div class="signature-containers mb-2 me-4">
          <img src="/assets/graphics/signature.png" alt="signature">
        </div>
        <div class="mb-2">Christina Swarns</div>
      </div>
    </div>
    <div class="col-md-7">
      <img src="/assets/01/video-thumb.jpeg" alt="">
    </div>
  </div>
</div>
