<div id="donorList" class="bg-beige py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 mb-5">
        <h6>DONOR LIST 2023</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">

        <div class="donor-list-card">
          <div class="list-card-inner">
            <ul class="list-unstyled">
              <li><h5>$1,000,000+</h5></li>
              <li>Annonymous Bridgespan</li>
              <li>Lakeshore Foundation</li>
              <li>Earle K. and Katherine F. Moore Foundation</li>
              <li>The Scarlet Feather Fund</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$5,000,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$250,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-3">

        <div class="donor-list-card">
          <div class="list-card-inner">
            <ul class="list-unstyled">
              <li><h5>$1,000,000+</h5></li>
              <li>Annonymous Bridgespan</li>
              <li>Lakeshore Foundation</li>
              <li>Earle K. and Katherine F. Moore Foundation</li>
              <li>The Scarlet Feather Fund</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$5,000,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$250,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-3">

        <div class="donor-list-card">
          <div class="list-card-inner">
            <ul class="list-unstyled">
              <li><h5>$1,000,000+</h5></li>
              <li>Annonymous Bridgespan</li>
              <li>Lakeshore Foundation</li>
              <li>Earle K. and Katherine F. Moore Foundation</li>
              <li>The Scarlet Feather Fund</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$5,000,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$250,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-3">

        <div class="donor-list-card">
          <div class="list-card-inner">
            <ul class="list-unstyled">
              <li><h5>$1,000,000+</h5></li>
              <li>Annonymous Bridgespan</li>
              <li>Lakeshore Foundation</li>
              <li>Earle K. and Katherine F. Moore Foundation</li>
              <li>The Scarlet Feather Fund</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$5,000,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
            <ul class="list-unstyled">
              <li><h5>$250,000+</h5></li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
              <li>Donor Name</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
