<div id="financials" class="py-5">
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h6 class="mb-4">Statement of Activities — FY23</h6>
        <p class="small color-grey">(excluding pro bono activities)</p>
      </div>
      <div class="col-xl-11 col-xxl-10 mx-auto">

        <div class="row py-5">
          <div class="col-md-6">
            <h3>Revenue</h3>
            <div class="mt-4">
              <table>
                <tbody>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#5660FE"/>
                        </svg>
                        <div class="ms-2">Individuals</div>
                      </div>
                    </td>
                    <td class="amount">$18,312,787</td>
                    <td class="percent">62%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#D58A6D"/>
                        </svg>
                        <div class="ms-2">Foundations</div>
                      </div>
                    </td>
                    <td class="amount">$6,355,937</td>
                    <td class="percent">22%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#E8EBFC"/>
                        </svg>
                        <div class="ms-2">Corporation</div>
                      </div>
                    </td>
                    <td class="amount">$1,833,514</td>
                    <td class="percent">6%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#242781"/>
                        </svg>
                        <div class="ms-2">Events</div>
                      </div>
                    </td>
                    <td class="amount">$1,166,206</td>
                    <td class="percent">4%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#F0E4D5"/>
                        </svg>
                        <div class="ms-2">Yeshiva</div>
                      </div>
                    </td>
                    <td class="amount">$310,000</td>
                    <td class="percent">1%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#030303"/>
                        </svg>
                        <div class="ms-2">Investments</div>
                      </div>
                    </td>
                    <td class="amount">$1,129,847</td>
                    <td class="percent">4%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#9BA1FF"/>
                        </svg>
                        <div class="ms-2">Other Income</div>
                      </div>
                    </td>
                    <td class="amount">$442,098</td>
                    <td class="percent">1%</td>
                  </tr>
                  <tr>
                    <td class="td-empty"></td>
                  </tr>
                  <tr class="th-row">
                    <th class="total">Total Revenue</th>
                    <th class="total-amt">$29,550,389</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-end">
              <img class="pie-chart" src="/assets/05/Financials/Piechart1.svg" alt="Pie Chart">
            </div>
          </div>
        </div>

        <div class="row py-5">
          <div class="col-md-6">
            <h3>Expenditures</h3>
            <div class="mt-4">
              <table>
                <tbody>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#5660FE"/>
                        </svg>
                        <div class="ms-2">Program</div>
                      </div>
                    </td>
                    <td class="amount">$19,462,254</td>
                    <td class="percent">74%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#D58A6D"/>
                        </svg>
                        <div class="ms-2">Management & General</div>
                      </div>
                    </td>
                    <td class="amount">$6,355,937</td>
                    <td class="percent">14%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#E8EBFC"/>
                        </svg>
                        <div class="ms-2">Fundraising</div>
                      </div>
                    </td>
                    <td class="amount">$3,071,727</td>
                    <td class="percent">12%</td>
                  </tr>
                  <tr>
                    <td class="td-empty"></td>
                  </tr>
                  <tr class="th-row">
                    <th class="total">Total Expenditures</th>
                    <th class="total-amt">$26,212,682</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-end">
              <img class="pie-chart" src="/assets/05/Financials/Piechart2.svg" alt="Pie Chart">
            </div>
          </div>
        </div>

        <div class="row py-5">
          <div class="col-md-6">
            <h3>Expenses by Department</h3>
            <div class="mt-4">
              <table>
                <tbody>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#5660FE"/>
                        </svg>
                        <div class="ms-2">Communications</div>
                      </div>
                    </td>
                    <td class="amount">$2,955,508</td>
                    <td class="percent">11%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#D58A6D"/>
                        </svg>
                        <div class="ms-2">Development</div>
                      </div>
                    </td>
                    <td class="amount">$2,791,181</td>
                    <td class="percent">11%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#E8EBFC"/>
                        </svg>
                        <div class="ms-2">Executive</div>
                      </div>
                    </td>
                    <td class="amount">$2,484,436</td>
                    <td class="percent">9%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#242781"/>
                        </svg>
                        <div class="ms-2">Finance</div>
                      </div>
                    </td>
                    <td class="amount">$1,701,172</td>
                    <td class="percent">6%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#F0E4D5"/>
                        </svg>
                        <div class="ms-2">uman Resources</div>
                      </div>
                    </td>
                    <td class="amount">$1,477,510</td>
                    <td class="percent">6%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#000000"/>
                        </svg>
                        <div class="ms-2">Intake</div>
                      </div>
                    </td>
                    <td class="amount">$2,398,892</td>
                    <td class="percent">9%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#9BA1FF"/>
                        </svg>
                        <div class="ms-2">Network Support Unit</div>
                      </div>
                    </td>
                    <td class="amount">$1,871,062</td>
                    <td class="percent">7%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#F8F7F0"/>
                        </svg>
                        <div class="ms-2">Policy</div>
                      </div>
                    </td>
                    <td class="amount">$3,298,658</td>
                    <td class="percent">13%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#C3ACFC"/>
                        </svg>
                        <div class="ms-2">Post Conviction Litigation</div>
                      </div>
                    </td>
                    <td class="amount">$4,304,123</td>
                    <td class="percent">16%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#9C9085"/>
                        </svg>
                        <div class="ms-2">Science & Research</div>
                      </div>
                    </td>
                    <td class="amount">$552,818</td>
                    <td class="percent">2%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#344A63"/>
                        </svg>
                        <div class="ms-2">Social Work</div>
                      </div>
                    </td>
                    <td class="amount">$929,363</td>
                    <td class="percent">4%</td>
                  </tr>
                  <tr>
                    <td class="label">
                      <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <rect y="0.898438" width="14" height="14" fill="#EDA257"/>
                        </svg>
                        <div class="ms-2">Strategic Litigation</div>
                      </div>
                    </td>
                    <td class="amount">$1,447,959</td>
                    <td class="percent">6%</td>
                  </tr>
                  <tr>
                    <td class="td-empty"></td>
                  </tr>
                  <tr class="th-row">
                    <th class="total">Total Expenditures</th>
                    <th class="total-amt">$26,212,682</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-end">
              <img class="pie-chart" src="/assets/05/Financials/Piechart3.svg" alt="Pie Chart">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
