<section id="hero">

  <div class="hero-carousel">
    <div class="">
      <img src="assets/01/slide-1.jpg" alt="">
    </div>
    <div class="">
      <img src="assets/01/slide-3.jpg" alt="">
    </div>
    <div class="">
      <img src="assets/01/slide-2.jpg" alt="">
    </div>
    <div class="">
      <img src="assets/01/slide-4.jpg" alt="">
    </div>
  </div>

  <div class="hero-content">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6 col-xl-5">
          <h3 class="mb-4">The Challenge is in the Moment</h3>
          <h1>The Time is Always Now</h1>
        </div>
      </div>
    </div>
  </div>

</section>
