<div id="highlights">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center py-5">
        <h6>highlights</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-12 col-xl-10 mx-auto">
        <div class="row">

          <div class="col-lg-4">
            <a href="https://innocenceproject.org/just-data-advancing-the-innocence-movement/" target="_blank">
              <div class="card bg-beige mb-4">
                <img src="assets/05/Highlights/JustData.png" class="card-img-top" alt="Speakers Thumbnail">
                <div class="card-body">
                  <h4 class="card-title">Just Data: Advancing the Movement Conference</h4>
                  <p class="card-text">We hosted our first-ever “Just Data: Advancing the Innocence Movement” conference, a virtual gathering that fosters dialogue between innocence practitioners and social scientists to address research gaps, better serve our clients, and advance legal reforms.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4">
            <a href="https://innocenceproject.org/speakers-bureau/" target="_blank">
              <div class="card bg-beige mb-4">
                <img src="assets/05/Highlights/Speakers.jpg" class="card-img-top" alt="Speakers Thumbnail">
                <div class="card-body">
                  <h4 class="card-title">Speakers Bureau</h4>
                  <p class="card-text">In FY23, we expanded our Speakers Bureau securing more than 150 engagements that connected schools, colleges, organizations, and companies across the world with our wrongful conviction experts.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4">
            <a href="https://metroconnections.swoogo.com/innocencenetwork-annualcon-0423/welcome" target="_blank">
              <div class="card bg-beige mb-4">
                <img src="assets/05/Highlights/NetworkConference.jpg" class="card-img-top" alt="Speakers Thumbnail">
                <div class="card-body">
                  <h4 class="card-title">Innocence Network Conference</h4>
                  <p class="card-text">We celebrated the 20th anniversary of the Innocence Network Conference, which brought together a record-breaking number – nearly 1,200! – of innocence organization staff members, advocates, freed and exonerated people, and their family members.</p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-10 col-xl-9 mx-auto text-center mb-4">
        <h4 class="mb-3">We garnered more than 29 million views</h4>
        <p>We continued to produce compelling content on our social media platforms, expanding our audiences by nearly 50,000 followers across all platforms.</p>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <img src="assets/05/Highlights/TikTok/1.png" alt="TikTok Thumbnail">
        </div>
        <div class="col-lg-3">
          <img src="assets/05/Highlights/TikTok/2.png" alt="TikTok Thumbnail">
        </div>
        <div class="col-lg-3">
          <img src="assets/05/Highlights/TikTok/3.png" alt="TikTok Thumbnail">
        </div>
        <div class="col-lg-3">
          <img src="assets/05/Highlights/TikTok/4.png" alt="TikTok Thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>
