<nav class="navbar sticky-top navbar-expand-xl py-3 bg-white">
  <div class="container align-items-center">
    <a class="navbar-brand" href="/">
      <div class="mb-1">
        <img src="assets/graphics/IP_Logo.svg" alt="Innocence Project">
      </div>
      <div>2023 Annual Report</div>
    </a>
    <div class="d-xl-none">
      <a class="btn nav-btn me-4" href="https://innocenceproject.org/ways-to-give/" target="_blank">Donate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse pt-3 pt-xl-0" id="navbarNav">
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item pe-xl-3">
          <a class="nav-link" href="#S01">Hear From Our Executive Director</a>
        </li>
        <li class="nav-item px-xl-3">
          <a class="nav-link" href="#S02">Restoring Freedom</a>
        </li>
        <li class="nav-item px-xl-3">
          <a class="nav-link" href="#S03">Transforming Systems</a>
        </li>
        <li class="nav-item px-xl-3">
          <a class="nav-link" href="#S04">Advancing the Movement</a>
        </li>
        <li class="nav-item px-xl-3">
          <a class="nav-link" href="#S05">Financial Information</a>
        </li>
        <li class="nav-item px-xl-3">
          <a class="nav-link" href="#S06">Donors</a>
        </li>
        <li class="nav-item ps-3 d-none d-xl-flex">
          <a class="nav-link btn nav-btn" href="https://innocenceproject.org/ways-to-give/" target="_blank">Donate</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
  </div>
</nav>
