<div id="restoringFreedomIntro" class="intro-block">
  <video class="video-bg" autoplay loop muted>
    <source src="/assets/vids/RestoringFreedom.mp4" type="video/mp4">
  </video>
  <div class="container py-5 position-relative">
    <div class="row align-items-center py-5">
      <div class="col-lg-8 col-xl-7 mx-auto">
        <div class="py-5 text-md-center">
          <h1 class="mb-4 mb-lg-5">Restoring Freedom</h1>
          <h4 class="mb-4 mb-lg-5">Supported by co-counsel, advocates, and donors, we harnessed the power of modern, reliable, and accurate science to reverse decades of injustice for six clients.</h4>
          <button type="button" class="btn btn-arrow" data-bs-toggle="modal" data-bs-target="#modal-1">
            Read More About Exoneration and Rebuilding Lives
            <img class="ms-2" src="/assets/graphics/To-Down.svg" alt="arrow">
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 class="mb-4">Recognizing that an exoneration is just the first step in rebuilding one’s life, we also continued to work with many of our clients post-release to overcome re-entry difficulties resulting from decades of wrongful incarceration.</h4>
          <p>Every exoneration we secured has allowed us to take on more cases as they come through our pipeline. To meet this challenge, we increased the capacity of our intake and post-conviction litigation teams last year.</p>
        </div>
      </div>
    </div>
  </div>
</div>
