<div id="gala" class="bg-black text-white py-5">
  <div class="container">

    <div class="row align-items-center py-5">
      <div class="col-md-6 col-lg-5">
        <img src="assets/05/Honorees/Tananbaum.jpg" alt="Sharoone Salaam">
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="ps-lg-4 ps-xl-5">
          <h3>Tananbaum Family</h3>
          <h6 class="mb-4">Board Member Andrew Tananbaum, Dorothy Tananbaum, JoBeth Abecassis, Zoe Bernstein, and Tanner Tananbaum</h6>
          <p>For nearly 20 years, the Tananbaum family has shown an unwavering commitment to our mission. Their steadfast support has played a pivotal role in our efforts to secure justice for the wrongfully convicted, bringing hope and transformation to countless lives. Their dedication serves as a beacon of inspiration for all who champion the cause of justice and exoneration.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center py-5">
      <div class="col-md-6 col-lg-5 order-md-2">
        <img src="assets/05/Honorees/Sharonne.jpg" alt="Sharoone Salaam">
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="pe-lg-4 pe-xl-5">
          <h3>Sharonne Salaam</h3>
          <h6 class="mb-4">Prison and Human Rights Advocate, Co-founder of Justice 4 The Wrongfully Incarcerated, and Mother of Exonerated Five and Board Member Yusef Salaam</h6>
          <p>Ms. Salaam is an inspiring advocate for criminal legal reform and her unwavering dedication to the cause. As the mother of Yusef Salaam, a member of the Exonerated Five who was wrongfully convicted for the rape of a Central Park jogger, she has used her personal experience to raise awareness about the flaws in the criminal legal system. Her tireless efforts have not only brought attention to wrongful convictions, but also provided hope and support to countless individuals seeking justice.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center py-5">
      <div class="col-md-6 col-lg-5">
        <img src="assets/05/Honorees/Calvin.jpg" alt="Sharoone Salaam">
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="ps-lg-4 ps-xl-5">
          <h3>Calvin Johnson</h3>
          <h6 class="mb-4">Founding Board Member and Exoneree</h6>
          <p>Mr. Johnson’s enduring legacy left a profound impact on the Innocence Project. A founding board member of the Innocence Project, he embodied the organization's core values of resilience and perseverance. He also personally experienced the injustice of wrongful conviction, and his journey from exoneree to advocate was nothing short of remarkable. Mr. Johnson’s sisters, Judith Cheryl Johnson and Tara Burkett, accepted his award on his behalf.</p>
        </div>
      </div>
    </div>

  </div>
</div>
