<div id="stateAchievements" class="py-5">
  <div class="container pt-5 pb-4">
    <div class="row">
      <div class="col-12">
        {% include state_profiles.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6 class="mb-3">Click Each State to Learn More</h6>
        <ul class="state-nav justify-content-start justify-content-xl-between" role="navigation">
          <li >
            <a class="nav-link active" data-target="CO" aria-current="true">Colorado</a></li>
          <li >
            <a class="nav-link" data-target="CT">Connecticut</a></li>
          <li >
            <a class="nav-link" data-target="DE">Delaware</a></li>
          <li >
            <a class="nav-link" data-target="DC">DC</a></li>
          <li >
            <a class="nav-link" data-target="IN">Indiana</a></li>
          <li >
            <a class="nav-link" data-target="MT">Montana</a></li>
          <li >
            <a class="nav-link" data-target="NV">Nevada</a></li>
          <li >
            <a class="nav-link" data-target="NJ">New Jersey</a></li>
          <li >
            <a class="nav-link" data-target="NY">New York</a></li>
          <li >
            <a class="nav-link" data-target="ND">North Dakota</a></li>
          <li >
            <a class="nav-link" data-target="OR">Oregon</a></li>
          <li >
            <a class="nav-link" data-target="TX">Texas</a></li>
          <li >
            <a class="nav-link" data-target="UT">Utah</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
