<div class="wrapper">
  <div class="d-flex justify-content-end">
    <div id="storyProfiles" class="w-100">

      <div id="Galvan" class="story-profile active">
        <div class="media-container">
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/J5E4V9-tl6E?si=Iqg7fSIJE8jDm2PE?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">John Galvan</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">JULY 2022</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">35 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5">John Galvan spent more than three decades in prison after he, as well as several others, was wrongly convicted of a1986 apartment fire in Chicago that killed two brothers. Mr. Galvan’s conviction was based on eyewitness misidentification, faulty arson science, and a false confession. Appeals by the Innocence Project, The Exoneration Project, and the Cook County Public Defender revealed new evidence, including developments in arson science, that led to his exoneration. Mr. Galvan has since enjoyed a life of independence, and even purchased his own car. He is represented by the Innocence Project.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Henry" class="story-profile">
        <div class="media-container">
          <img src="/assets/03/Stories/SecondaryPhotos/Darrill.jpg" alt="">
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">Darrill Henry</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">January 2023</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">15 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5"><a href="https://innocenceproject.org/darrill-henry-exonerated-in-new-orleans-double-murder-following-decades-long-fight/" target="_blank">Darrill Henry</a> was raising an 8-year-old daughter and 6-year-old son when he was arrested for a double murder in New Orleans. Tried for capital murder based exclusively on eyewitness misidentification, he was convicted and sentenced to life in prison. The judge who presided over his original trial vacated his conviction in 2020 based on DNA evidence that excluded Mr. Henry, and, in 2023, the Orleans Parish District Attorney’s office dropped all charges. Mr. Henry has been spending time with his children, who are now in their 20s. He was represented by the Innocence Project; the Orleans Parish Public Defender’s Office; Paul, Weiss, Rifkind, Wharton & Garrison; and the Law Office of Letty S. Di Giulio.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Williams" class="story-profile">
        <div class="media-container">
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/L8YCQ9weJR0?si=FDHMBA936XG07VqS?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">Herman Williams</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">Septemnber 2022</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">29 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5"><a href="https://innocenceproject.org/herman-williams-is-exonerated-after-nearly-three-decades-of-wrongful-conviction/" target="_blank">Herman Williams</a>, a decorated member of the U.S. Navy, was wrongly convicted of the 1993 murder of his ex-wife in Waukegan, Illinois, based largely on scientifically unsupported forensic pathology testimony, an inadequate defense, a fabricated confession, and police and prosecutorial misconduct. Advanced DNA testing excluded Mr. Williams as the attacker. Now free, he operates a handyman business. Mr. Williams was represented by the Innocence Project and the Illinois Innocence Project.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Schweitzer" class="story-profile">
        <div class="media-container">
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/eatXL_rmi68?si=-s6hytfRKlypD8fB?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">Ian Schweitzer</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">January 2023</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">25 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5">In February 2000, <a href="https://innocenceproject.org/ian-schweitzers-exonerated-murder-25-years-hawaii/" target="_blank">Ian Schweitzer</a> was wrongly convicted of a 1991 rape and murder based on unreliable jailhouse informant testimony — despite DNA results excluding him from the rape kit. Post-conviction DNA testing on additional items from the rape kit and a shirt found at the crime scene further confirmed his innocence, along with newly discovered evidence showing the State used unreliable bitemark evidence in its investigation, and newly presented tire tread evidence. After reuniting with his family, Mr. Schweitzer moved into his own apartment and participated in multiple fishing competitions. He was represented by the Innocence Project and the Hawaii Innocence Project.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Peets" class="story-profile">
        <div class="media-container">
          <img src="/assets/03/Stories/SecondaryPhotos/Norberto.jpg" alt="">
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">Norberto Peets</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">May 2023</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">26 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5"><a href="https://innocenceproject.org/norberto-peets-is-exonerated-after-26-years-in-the-bronx/" target="_blank">Norberto Peets</a> was wrongly convicted of a 1996 shooting in New York after a police officer identified him as the gunman. He was sentenced to 30 years in prison. He was exonerated after strong evidence of an alternate suspect, medical reinvestigation, and post-conviction DNA testing confirmed his innocence. Since his release, Mr. Peets has moved into his own home and reconnected with his daughter and son, who were young children at the time of his wrongful conviction. He was represented by the Innocence Project.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Day" class="story-profile">
        <div class="media-container">
          <img src="/assets/03/Stories/SecondaryPhotos/Tyrone.jpg" alt="">
        </div>
        <div class="content px-lg-3 px-xl-4">
          <div class="container-fluid">
            <div class="row py-5">
              <div class="col-xxl-11 ms-auto">
                <div class="row">
                  <div class="col-xl-3">
                    <h4 class="mb-3 mb-xl-4">Tyrone Day</h4>
                    <h6 class="small mb-1 mb-xl-3">
                      <span class="d-xl-block">Exonerated</span>
                      <span class="d-xl-block">May 2023</span>
                    </h6>
                    <h6 class="small mb-4 mb-xl-3">
                      <span class="d-xl-block">Time Served</span>
                      <span class="d-xl-block">26 Years</span>
                    </h6>
                  </div>
                  <div class="col-xl-9">
                    <p class="small mb-5"><a href="https://innocenceproject.org/tyrone-day-exonerated-in-dallas-33-years-after-wrongful-conviction/" target="_blank">Tyrone Day</a> was just 19 years old when he was arrested for a 1990 sexual assault in Dallas based on eyewitness misidentification. Though he firmly maintained his innocence, he pleaded guilty after his attorney erroneously advised him that a plea deal would enable him to be released on parole after four years in prison. DNA testing later excluded Mr. Day as the attacker. Today, Mr. Day is a system manager and lead horticulturist at Restorative Farms, which he helped found. He was represented by the Innocence Project, the Innocence Project of Texas, and Weil, Gotshal & Manges LLP.</p>
                  </div>
                  <div class="col-12 text-end">
                    <h6 class="xs">Click each profile to learn more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="story-cards d-flex align-items-end">

      <div data-target="Galvan" class="story-card galvan active">
        <div class="story-name">
          <h3>John Galvan</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

      <div data-target="Henry" class="story-card henry">
        <div class="story-name">
          <h3>Darrill Henry</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

      <div data-target="Williams" class="story-card williams">
        <div class="story-name">
          <h3>Herman Williams</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

      <div data-target="Schweitzer" class="story-card schweitzer">
        <div class="story-name">
          <h3>Ian Schweitzer</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

      <div data-target="Peets" class="story-card peets">
        <div class="story-name">
          <h3>Norberto Peets</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

      <div data-target="Day" class="story-card day">
        <div class="story-name">
          <h3>Tyrone Day</h3>
        </div>
        <div class="headshot">
        </div>
      </div>

    </div>
  </div>
</div>
