<div id="StoriesMobile">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">

        <div class="accordion" id="storiesAccordion">
          <div class="accordion-item">
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/J5E4V9-tl6E?si=Iqg7fSIJE8jDm2PE?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="py-3">
                  <h2 class="mb-3">John Galvan</h2>
                  <h6 class="mb-1">Exonerated July 2022</h6>
                  <h6 class="mb-3 pb-1">Time served 35 years</h6>
                  <p><a href="https://innocenceproject.org/john-galvan-arthur-almendarez-and-francisco-nanez-are-exonerated/" target="_blank">John Galvan</a> spent more than three decades in prison after he, as well as several others, was wrongly convicted of a1986 apartment fire in Chicago that killed two brothers. Mr. Galvan’s conviction was based on eyewitness misidentification, faulty arson science, and a false confession. Appeals by the Innocence Project, The Exoneration Project, and the Cook County Public Defender revealed new evidence, including developments in arson science, that led to his exoneration. Mr. Galvan has since enjoyed a life of independence, and even purchased his own car. He is represented by the Innocence Project.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/galvan.png" alt="Galvan">
                  </div>
                  <div class="ps-3">
                    <h3>John Galvan</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <img src="assets/03/Stories/SecondaryPhotos/Darrill.jpg" alt="Darrill Williams">
                </div>
                <div class="py-3">
                  <h2 class="mb-3">Darrill Henry</h2>
                  <h6 class="mb-1">Exonerated January 2023</h6>
                  <h6 class="mb-3 pb-1">Time served 15 years</h6>
                  <p><a href="https://innocenceproject.org/darrill-henry-exonerated-in-new-orleans-double-murder-following-decades-long-fight/" target="_blank">Darrill Henry</a> was raising an 8-year-old daughter and 6-year-old son when he was arrested for a double murder in New Orleans. Tried for capital murder based exclusively on eyewitness misidentification, he was convicted and sentenced to life in prison. The judge who presided over his original trial vacated his conviction in 2020 based on DNA evidence that excluded Mr. Henry, and, in 2023, the Orleans Parish District Attorney’s office dropped all charges. Mr. Henry has been spending time with his children, who are now in their 20s. He was represented by the Innocence Project; the Orleans Parish Public Defender’s Office; Paul, Weiss, Rifkind, Wharton & Garrison; and the Law Office of Letty S. Di Giulio.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/henry.png" alt="Henry">
                  </div>
                  <div class="ps-3">
                    <h3>Darrill Henry</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/L8YCQ9weJR0?si=FDHMBA936XG07VqS?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="py-3">
                  <h2 class="mb-3">Herman Williams</h2>
                  <h6 class="mb-1">Exonerated september 2022</h6>
                  <h6 class="mb-3 pb-1">time served 29 years</h6>
                  <p><a href="https://innocenceproject.org/herman-williams-is-exonerated-after-nearly-three-decades-of-wrongful-conviction/" target="_blank">Herman Williams</a>, a decorated member of the U.S. Navy, was wrongly convicted of the 1993 murder of his ex-wife in Waukegan, Illinois, based largely on scientifically unsupported forensic pathology testimony, an inadequate defense, a fabricated confession, and police and prosecutorial misconduct. Advanced DNA testing excluded Mr. Williams as the attacker. Now free, he operates a handyman business. Mr. Williams was represented by the Innocence Project and the Illinois Innocence Project.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/williams.png" alt="Henry">
                  </div>
                  <div class="ps-3">
                    <h3>Herman Williams</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/eatXL_rmi68?si=-s6hytfRKlypD8fB?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="py-3">
                  <h2 class="mb-3">Ian Schweitzer</h2>
                  <h6 class="mb-1">Exonerated january 2023</h6>
                  <h6 class="mb-3 pb-1">time served 25 years</h6>
                  <p>In February 2000, <a href="https://innocenceproject.org/ian-schweitzers-exonerated-murder-25-years-hawaii/" target="_blank">Ian Schweitzer</a> was wrongly convicted of a 1991 rape and murder based on unreliable jailhouse informant testimony — despite DNA results excluding him from the rape kit. Post-conviction DNA testing on additional items from the rape kit and a shirt found at the crime scene further confirmed his innocence, along with newly discovered evidence showing the State used unreliable bitemark evidence in its investigation, and newly presented tire tread evidence. After reuniting with his family, Mr. Schweitzer moved into his own apartment and participated in multiple fishing competitions. He was represented by the Innocence Project and the Hawaii Innocence Project.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/schweitzer.png" alt="Henry">
                  </div>
                  <div class="ps-3">
                    <h3>Ian Schweitzer</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <img src="assets/03/Stories/SecondaryPhotos/Norberto.jpg" alt="Peets">
                </div>
                <div class="py-3">
                  <h2 class="mb-3">Norberto Peets</h2>
                  <h6 class="mb-1">Exonerated May 2023</h6>
                  <h6 class="mb-3 pb-1">time served 26 years</h6>
                  <p><a href="https://innocenceproject.org/norberto-peets-is-exonerated-after-26-years-in-the-bronx/" target="_blank">Norberto Peets</a> was wrongly convicted of a 1996 shooting in New York after a police officer identified him as the gunman. He was sentenced to 30 years in prison. He was exonerated after strong evidence of an alternate suspect, medical reinvestigation, and post-conviction DNA testing confirmed his innocence. Since his release, Mr. Peets has moved into his own home and reconnected with his daughter and son, who were young children at the time of his wrongful conviction. He was represented by the Innocence Project.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/peets.png" alt="Henry">
                  </div>
                  <div class="ps-3">
                    <h3>Norberto Peets</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#storiesAccordion">
              <div class="accordion-body">
                <div class="media-container pt-1 mt-3">
                  <img src="assets/03/Stories/SecondaryPhotos/Tyrone.jpg" alt="Galvan">
                </div>
                <div class="py-3">
                  <h2 class="mb-3">Tyrone Day</h2>
                  <h6 class="mb-1">Exonerated May 2023</h6>
                  <h6 class="mb-3 pb-1">time served 26 years</h6>
                  <p><a href="https://innocenceproject.org/tyrone-day-exonerated-in-dallas-33-years-after-wrongful-conviction/" target="_blank">Tyrone Day</a> was just 19 years old when he was arrested for a 1990 sexual assault in Dallas based on eyewitness misidentification. Though he firmly maintained his innocence, he pleaded guilty after his attorney erroneously advised him that a plea deal would enable him to be released on parole after four years in prison. DNA testing later excluded Mr. Day as the attacker. Today, Mr. Day is a system manager and lead horticulturist at Restorative Farms, which he helped found. He was represented by the Innocence Project, the Innocence Project of Texas, and Weil, Gotshal & Manges LLP.</p>
                </div>
              </div>
            </div>
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div class="d-flex align-items-center">
                  <div class="headshot-mobile">
                    <img src="assets/03/Stories/mobile/day.png" alt="Henry">
                  </div>
                  <div class="ps-3">
                    <h3>Tyrone Day</h3>
                  </div>
                </div>
              </button>
            </h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
