<div id="transformingSystemsIntro" class="intro-block">
  <video class="video-bg" autoplay loop muted>
    <source src="assets/vids/TransformingSystems.mp4" type="video/mp4">
  </video>
  <div class="container py-5 position-relative">
    <div class="row align-items-center py-5">
      <div class="col-lg-8 col-xl-7 mx-auto">
        <div class="py-5 text-md-center">
          <h1 class="mb-4 mb-lg-5">Transforming Systems</h1>
          <h4 class="mb-4 mb-lg-5">We focused our efforts in courts, statehouses, and Congress to confront the ongoing issues that lead to wrongful conviction, which include racial bias.</h4>
          <button type="button" class="btn btn-arrow" data-bs-toggle="modal" data-bs-target="#modal-2">
            Read More About Reform Efforts
            <img class="ms-2" src="assets/graphics/To-Down.svg" alt="arrow">
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-2-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 class="mb-4">We focused our efforts in courts, statehouses, and Congress to confront the ongoing issues that lead to wrongful conviction, which include racial bias, eyewitness misidentification, unreliable jailhouse testimony, police misconduct, and the misapplication of forensic science. Last year, we collaborated with advocates, policymakers, and organizations to pass over 15 reforms that reveal and prevent wrongful conviction as well as strengthen compensation for exonerees.</h4>
          <p>In addition, we continued to push forward on our police accountability agenda; joined forces with policy stakeholders to improve forensic disciplines, including forensic pathology; educated over 1,000 attorneys on scientific evidence in litigation; and worked to address the ethical and legal implications of AI and surveillance technologies that police are increasingly employing across the nation. We also joined a coalition of 20 leading national civil rights and criminal legal reform organizations to end the trial penalty.</p>
        </div>
      </div>
    </div>
  </div>
</div>
