<section id="thankYou" class="bg-blue text-white py-5">

  <div class="container text-center py-5">
    <div class="row">
      <div class="col-md-10 col-lg-9 col-xl-8 mx-auto">
        <h1 class="mb-4 pb-lg-3">Thank You</h1>
        <p class="mb-4 pb-lg-3">Your generosity and support have been crucial in sustaining our success in the fight for freedom, in the push for structural change, and in advancing the innocence movement. We are sincerely grateful for your commitment to our work and mission.</p>
        <div class="mb-4 pb-lg-3">
          <a class="btn btn-white btn-arrow " href="#" target="_blank">Download Report as PDF </a>
        </div>
        <div class="metadata">
          Introduction video photo credits, in order of appearance:  Mallory Nicholson (Photo: Ron Jenkins / Innocence Project), Kenneth Hovland (Photo: Kenny Karpov / Innocence Project), Khalil Islam (Photo: Associated Press), Muhammad Azis (Photo: Daniele Selby / Innocence Project), Anthony Dixon (Photo: Courtesy of Midwest Innocence Project), Michael Monroe (Photo: Kenny Karpov/Innocence Project), Philip Barnett (Photo: Chris Jackson for AP Images / Innocence Project), Barry Jacobson (Matthew Adams Photography / Innocence Project)
        </div>
      </div>
    </div>
  </div>

</section>
