<div id="waysToGive" class="bg-black text-white">
  <div class="container py-5">
    <div class="row align-items-end py-5">
      <div class="col-md-6 col-lg-5">
        <h3 class="mb-4">Ways to Give</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. lorem ipsum</p>
        <div class="pt-4">
          <a class="btn btn-arrow" href="#">View More Ways to Give <img class="ms-2" src="/assets/graphics/To-Down.svg" alt="arrow"></a>
        </div>
      </div>
      <div class="col-md-6 offset-lg-1">

        <div class="mb-3">
          <a class="give-button d-flex justify-content-between bg-beige" href="#">
            <div class="d-flex align-items-center text-black px-3 py-2">
              <div class="icon-container me-3">
                <img class="icon" src="/assets/07/Icons/Donate.svg" alt="icon">
              </div>
              <h4 class="mb-0">Donate</h4>
            </div>
            <div class="blue-cap d-flex align-items-center px-2">
              <div class="px-1">
                <img class="arrow" src="/assets/graphics/right-white.svg" alt="arrow">
              </div>
            </div>
          </a>
        </div>

        <div class="mb-3">
          <a class="give-button d-flex justify-content-between bg-beige" href="#">
            <div class="d-flex align-items-center text-black px-3 py-2">
              <div class="icon-container py-2 me-3">
                <img class="icon" src="/assets/07/Icons/Monthly.svg" alt="icon">
              </div>
              <h4 class="mb-0">Give Monthly</h4>
            </div>
            <div class="blue-cap d-flex align-items-center px-2">
              <div class="px-1">
                <img class="arrow" src="/assets/graphics/right-white.svg" alt="arrow">
              </div>
            </div>
          </a>
        </div>

        <div class="mb-3">
          <a class="give-button d-flex justify-content-between bg-beige" href="#">
            <div class="d-flex align-items-center text-black px-3 py-2">
              <div class="icon-container me-3">
                <img class="icon" src="/assets/07/Icons/Support.svg" alt="icon">
              </div>
              <h4 class="mb-0">Support exonerees post-release</h4>
            </div>
            <div class="blue-cap d-flex align-items-center px-2">
              <div class="px-1">
                <img class="arrow" src="/assets/graphics/right-white.svg" alt="arrow">
              </div>
            </div>
          </a>
        </div>

        <div class="mb-0">
          <a class="give-button d-flex justify-content-between bg-beige" href="#">
            <div class="d-flex align-items-center text-black px-3 py-2">
              <div class="icon-container me-3">
                <img class="icon" src="/assets/07/Icons/Stock.svg" alt="icon">
              </div>
              <h4 class="mb-0">Transfer Gifts of Stock</h4>
            </div>
            <div class="blue-cap d-flex align-items-center px-2">
              <div class="px-1">
                <img class="arrow" src="/assets/graphics/right-white.svg" alt="arrow">
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
